In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"), index=list("abcd"))
df

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [6]:
df.iloc[1:3]

   A  B   C   D
b  4  5   6   7
c  8  9  10  11

In [7]:
df["a":"c"]

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [8]:
df.iloc[:,1:3]

    B   C
a   1   2
b   5   6
c   9  10
d  13  14

In [9]:
df.loc[df["C"]>7, "C"]

c    10
d    14
Name: C, dtype: int64